.App {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  padding: 50px;
}

.App__input {
  width: 100%;
  margin-bottom: 15px;
}

.App__error {
  color: #aa2d29;
  background-color: #ebc8c4;
}

.loader {
  display: inline-block;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
